<!-- CSS only -->
<!-- JavaScript Bundle with Popper -->
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'bootstrap', :plugin => 'jd_order_management' %>
    <%= javascript_include_tag 'bootstrap', :plugin => 'jd_order_management' %>
    <%= javascript_include_tag 'modue', :plugin => 'jd_order_management' %>


<% end %>
<h2>Modules</h2>
<nav>
    <a href="<%= new_order_path() %>" type="button" class="btn btn-light">+ création</a>
    <a href="<%= addressesP_path() %>" type="button" class="btn btn-light">Gestion Adresses</a>
    <a href="<%= devicesP_path() %>" type="button" class="btn btn-light">Modules</a>
</nav>

    <div class="box">
        <div class="col-6">
            <%= form_for @device  do |form| %>
                    <div style="margin-top: 10px"  class="inline">
                        <%= form.text_field :codearticle, placeholder:'Code Article' %>
                        <%= form.text_field :name, placeholder:'Designation' %>
                        <%= form.text_field :designation, placeholder:'Nomenclature' %>
                        <%= form.select :project, options_from_collection_for_select(Project.all, :identifier, :name), prompt: "Selectionner un projet", required: true  %>

                        <button id="formModuleSave" style="margin-top: 10px" type="submit" class="btn  mb-2" onclick="eventSaveModule()">save</button>
                    </div>
            <% end %> 
        </div>
    <div>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">codeArticle</th>
      <th scope="col">designations</th>
      <th scope="col">nomenclature</th>
      <th scope="col">projet</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <% @devices.each do |mod| %>
  <tbody>
    <tr id="row_<%=mod.id%>">
      <td><%= mod.id %></td>
      <td><%= mod.codearticle %></td>
      <td><%= mod.name %></td>
      <td><%= mod.designation %></td>
       <td><%= mod.project %></td>
      <td><%= link_to "Supprimer", device_path(mod),
                  method: :delete,
                  data: { confirm: "etes vous sûr?" } %></td>
    </tr>
  </tbody>
  <% end %>
</table>

 <div class="row">
    <div class="col-3 offset-5">
    <% unless @page <= 1  %>
      <a href="<%= devicesP_path(@page-1) %>"><img class="fit-picture" src="<%= image_path('previous.png', :plugin =>'jd_order_management') %>" alt="Grapefruit slice atop a pile of other slices"></a>
    <% end %>
      <a><%=  @page  %> - <%= @maxPage%></a>
    <% if @page < @maxPage %>
      <a href="<%= devicesP_path(@page+1) %>"><img class="fit-picture" src="<%= image_path('next.png', :plugin =>'jd_order_management') %>" alt="Grapefruit slice atop a pile of other slices"></a>
    <% end %>
    </div>
  </div>