<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'bootstrap', :plugin => 'redmine_jd_order_management' %>
  <%= javascript_include_tag 'bootstrap', :plugin => 'redmine_jd_order_management' %>

<% end %>

<h2 style="margin: 20px">Formulaire suivi</h2>
<button type="button" class="btn btn-light">Retour</button>

    <div class="row">

        <%= form_with url:putform_path(@projects), method: :post do |form| %>
        <fieldset enable>
            <legend>Fiche de suivi</legend>

            <div class="mb-3">
                <label>
                    <%= form.label :description, class: 'form-label' %>
                </label>
                <%= form.text_area(:description, size: '50x5')  %>
            </div>
            <div class="mb-3">
                <label>
                    <%= form.label :date_envoi, class: 'form-control' %>
                </label>
                <%= form.date_field  :dateSending, class: 'form-control' %>
            </div>
            <div class="mb-3">
              <div class="form-check">
                  <label>
                      <%= form.label :numero_DHL, class: 'form-control' %>
                  </label>
                  <%= form.text_field :dhl, class: 'form-control' %>
              </div>
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <label>
                        <%= form.label :status, class: 'form-control' %>
                    </label>
                    <%= form.text_field :status, class: 'form-control' %>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-check">
                    <label>
                        <%= form.label :Module, class: 'form-control' %>
                    </label>
                    <%= form.text_field :module, class: 'form-control' %>
                </div>
                <label>
                    <%= form.label :Quantity, class: 'form-control' %>
                </label>
                    <%= form.number_field :moduleQantity, class: 'form-control' %>
                </div>
            </div>
                <%= form.submit "Create" %>
         <% end %>
      </fieldset>


