<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'bootstrap', :plugin => 'jd_order_management' %>
  <%= javascript_include_tag 'bootstrap', :plugin => 'jd_order_management' %>
  <%= javascript_include_tag 'addformView', :plugin => 'jd_order_management' %>


<% end %>

<h2 style="margin: 20px">Formulaire suivi</h2>
<button style="margin-bottom: 20px" type="button" class="btn btn-light">Retour</button>

<%= form_with url:putform_path(@projects), method: :post do |form| %>
  <div class="form-row">
    <div class="row">
      <%= form.label :Date_envoi, class: 'form-label' %>
      <div class="col-3">
        <%= form.date_field  :dateSending, class: 'form-control' %>
      </div>
      <div class="col-3">
        <%= form.text_field :dhl, class: 'form-control', placeholder:'Numéro DHL' %>
      </div>

      <%= form.label :utilisateur, class: 'form-label' %>
      <div class="col-3">
        <%= form.text_field :user, class: 'form-control', placeholder:'user', value:User.find(session[:user_id]), :readonly => true %>
      </div>
    </div>
    <div style="margin-top: 15px" class="row">
      <%= form.label :description, class: 'form-label' %>
      <div class="col-12">
        <%= form.text_area(:description, size: '50x5')  %>
      </div>

      <div class="col-3">
        <%= form.text_field :status, class: 'form-control', placeholder:'Status' %>
      </div>
      <div class="col-3">
       <!-- <%= collection_select(:addressId, :addresse_id, Addresse.all, :id, :name, prompt: true) %> -->
        <%=select_tag :addressId, options_from_collection_for_select(Addresse.all, :id, :name), prompt: "Selectionner adresse" %>
      </div>
    </div>
    <div style="margin-top: 15px" class="row">
      <div class="col-2">
        <%=select_tag :device, options_from_collection_for_select(Device.all, :id, :codearticle), prompt: "Module_codeArticle", "data" => "codearticle", :onchange => "test(this);"  %>
      </div>
        <div id="code" class=col-2>
          <%=select_tag :device, options_from_collection_for_select(Device.all, :id, :name), prompt: "Module_Designation", "data" => "name", :onchange => "test(this);" %>
        </div>
        <div class=col-2>
          <%=select_tag :device, options_from_collection_for_select(Device.all, :id, :designation), prompt: "Module", "data" => "designation", :onchange => "test(this);" %>
        </div>
        <div class="col-2">
          <%= form.number_field :dhl, class: 'form-control', placeholder:'Quantitées', data:'quantity' %>
        </div>
        <div class="col-1">
         <button id="addModule" type="button" onclick="addinputElement()">-</button>
        </div>
      </div>
    </div>
    <div style="margin-top: 15px" id="inputs" >
    </div>
    <div style="margin-top: 15px" class="row">
      <div>
        <%= form.submit "Create" %>
      </div>
    </div>
  </div>


<% end %>
