<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'bootstrap', :plugin => 'jd_order_management' %>
  <%= javascript_include_tag 'bootstrap', :plugin => 'jd_order_management' %>
  <%= javascript_include_tag 'addformView', :plugin => 'jd_order_management' %>


<% end %>

<h2 style="margin: 20px">Formulaire suivi</h2>
<button style="margin-bottom: 20px" type="button" class="btn btn-light">Retour</button>

<%= form_for @order  do |form| %>
  <div class="form-row">
    <div class="row">
      <%= form.label :Date_envoi, class: 'form-label' %>
      <div class="col-3">
        <%= form.date_field  :dateSending, class: 'form-control', required: true  %>
      </div>
      <div class="col-3">
        <%= form.text_field :numberDHL, class: 'form-control', placeholder:'Numéro DHL' %>
      </div>

      <%= form.label :utilisateur, class: 'form-label' %>
      <div class="col-3">
        <%= form.text_field :user, class: 'form-control', placeholder:'user', value:User.find(session[:user_id]), :readonly => true %>
      </div>
    </div>
    <div style="margin-top: 15px" class="row">
      <%= form.label :description, class: 'form-label' %>
      <div class="col-12">
        <%= form.text_area(:description, size: '50x5', required: true )  %>
      </div>

      <div class="row">
        <div class="col-3" >
         <div class="invalid-feedback">
          fichier invalide
          </div>
        <%= form.file_field :fileOrd %>

        </div>
      </div>

      <div class="col-2">
        <% #select_tag :status, options_from_collection_for_select(StatusOrder.all, :id, :name), prompt: "Selectionner status", required: true  %>
         <%= collection_select(:order, :statusOrders_id, StatusOrder.all, :id, :name, prompt: "Selectionner status", required: true) %>

      </div>
      <div class="col-2">
        <%= collection_select(:order, :addresses_id, Addresse.all, :id, :name, prompt: "Selectionner une adresse", required: true) %>
      </div>
      <div class="col-2">
        <% if User.find(session[:user_id]).admin %>
          <%= collection_select(:order, :project, Project.all, :identifier, :name, prompt: "Selectionner un projet", required: true) %>

      <% else %>
          <%= form.text_field :projectId, class: 'form-control', placeholder:'Status', value:@project.name, :readonly => true %>
      <% end %>
      </div>
    </div>
    <div style="margin-top: 15px" class="row">
      <div class="col-2">
        <%=select_tag :device, options_from_collection_for_select(Device.all, :id, :codearticle), prompt: "Module_codeArticle", "data" => "codearticle", :onchange => "fileupdataInInput(this);"  %>
      </div>
        <div id="code" class=col-2>
          <%=select_tag :device, options_from_collection_for_select(Device.all, :id, :name), prompt: "Module_Designation", "data" => "name", :onchange => "fileupdataInInput(this);" %>
        </div>
        <div class=col-2>
          <%=select_tag :device, options_from_collection_for_select(Device.all, :id, :designation), prompt: "Module", "data" => "designation", :onchange => "fileupdataInInput(this);" %>
        </div>
        <div class="col-2">
          <%= form.number_field :numberDHL, class: 'form-control', placeholder:'Quantitées', data:'quantity' %>
        </div>
        <div class="col-1">
         <button id="addModule" type="button" indice=0 onclick="addinputElement()">+</button>
        </div>
      </div>
    </div>
    <div style="margin-top: 15px" id="inputs" >
    </div>
    <div style="margin-top: 15px" class="row">
      <div>
        <%= form.submit "Create" %>
      </div>
    </div>
  </div>


<% end %>
