<!-- CSS only -->
<!-- JavaScript Bundle with Popper -->
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'bootstrap', :plugin => 'jd_order_management' %>
    <%= stylesheet_link_tag 'jd_custom', :plugin => 'jd_order_management' %>
    <%= javascript_include_tag 'bootstrap', :plugin => 'jd_order_management' %>
    <%= javascript_include_tag 'redirectToDetailOrder', :plugin => 'jd_order_management' %>


<% end %>
<h2>Suivi commandes</h2>
<%# User.current.inspect %>
<a href="<%=  new_order_path(@project_id) %>" type="button" class="btn btn-light">+ création</a>
<div class="box">

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">project</th>
        <th scope="col">Date creation</th>
        <th scope="col">Date Envoi</th>
        <th scope="col">Description</th>
        <th scope="col">Source</th>
        <th scope="col">Destination</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <% @orders.each do |orderTrack| %>
    <tbody>
      <tr class="
    <% if StatusOrder.find(orderTrack.statusOrders_id).name == 'En cours' %>
        HitPriority
    <% elsif StatusOrder.find(orderTrack.statusOrders_id).name == 'cloturée' %>
        normalePriority
    <% elsif StatusOrder.find(orderTrack.statusOrders_id).name == 'En attente' %>
        lowPriority
    <% end %>
        ", url ="<%=ENV['HOST'] %>", ids="<%= orderTrack.id %>", url="<%= request.host_with_port.dup.inspect %>" project="<%= orderTrack.project %>" onclick="redirectToderail(this)">
        <td><%= orderTrack.id %></td>
        <td><%= orderTrack.project %></td>
        <td><%= orderTrack.dateCreated.in_time_zone('Paris') %></td>
        <td><%= orderTrack.dateSending %></td>
        <td><%= orderTrack.description %></td>
        <td><%= orderTrack.source %></td>
        <td><%= orderTrack.destination %></td>
        <td><%= StatusOrder.find(orderTrack.statusOrders_id).name %></td>
        <td>
          <a href="<%= edit_order_path(@project_id,orderTrack.id)%>" >edit</a>
          /
          <%= link_to "Supprimer", order_path(@project_id, orderTrack),
                      method: :delete,
                      data: { confirm: "etes vous sûr?" } %>
                  <% if orderTrack.filename != nil %> /
          <%= link_to 'PDF_DHL',downloadPdf_path(orderTrack.id) %>
          <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>

  <div class="row">
    <div class="col-3 offset-5">
    <% unless @page <= 1  %>
      <a href="<%= ordersP_path(params[:project_id], (@page-1)) %>"><img class="fit-picture" src="<%= image_path('previous.png', :plugin =>'jd_order_management') %>" alt="Grapefruit slice atop a pile of other slices"></a>
    <% end %>
      <a><%=  @page  %> - <%= @maxPage%></a>
    <% if @page < @maxPage %>
      <a href="<%= ordersP_path(params[:project_id], (@page+1)) %>"><img class="fit-picture" src="<%= image_path('next.png', :plugin =>'jd_order_management') %>" alt="Grapefruit slice atop a pile of other slices"></a>
    <% end %>
    </div>
  </div>
</div>