<!-- CSS only -->
<!-- JavaScript Bundle with Popper -->
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'bootstrap', :plugin => 'jd_order_management' %>
    <%= javascript_include_tag 'bootstrap', :plugin => 'jd_order_management' %>

<% end %>
<h2>Suivi commandes</h2>
<%# User.current.inspect %>
<a href="<%= putformView_path(@project) %>" type="button" class="btn btn-light">+ création</a>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">project</th>
      <th scope="col">Date creation</th>
      <th scope="col">Date Envoi</th>
      <th scope="col">Description</th>
      <th scope="col">Addresse</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <% @listeOrder.each do |orderTrack| %>
  <tbody>
    <tr>
      <td><%= orderTrack.id %></td>
      <td><%= orderTrack.project %></td>
      <td><%= orderTrack.dateCreated %></td>
      <td><%= orderTrack.dateSending %></td>
      <td><%= orderTrack.description %></td>
      <td><%= Addresse.find(orderTrack.addresses_id).name %></td>
      <td><%= StatusOrder.find(orderTrack.statusOrders_id).name %></td>
      <td><a href="<%= editAddviewForm_path(orderTrack.id,  @project) %>" >edit</a></td>
    </tr>
  </tbody>
  <% end %>
</table>

<div class="row">
  <div class="col-3 offset-5">
  <% unless @page <= 1  %>
    <a href="<%= ordersP_path(params[:project_id], (@page-1)) %>"><img class="fit-picture" src="<%= image_path('previous.png', :plugin =>'jd_order_management') %>" alt="Grapefruit slice atop a pile of other slices"></a>
  <% end %>
    <a><%=  @page  %> - <%= @maxPage%></a>
  <% if @page < @maxPage %>
    <a href="<%= ordersP_path(params[:project_id], (@page+1)) %>"><img class="fit-picture" src="<%= image_path('next.png', :plugin =>'jd_order_management') %>" alt="Grapefruit slice atop a pile of other slices"></a>
  <% end %>
  </div>
</div>
