<!-- CSS only -->
<!-- JavaScript Bundle with Popper -->
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'bootstrap', :plugin => 'jd_order_management' %>
    <%= javascript_include_tag 'bootstrap', :plugin => 'jd_order_management' %>
    <%= javascript_include_tag 'modue', :plugin => 'jd_order_management' %>


<% end %>
<h2>Recherche modules</h2>
<nav>
    <a href="<%= ordersAdmin_path(1) %>" type="button" class="btn btn-light">Commandes</a>
    <a href="<%= addressesP_path(1) %>" type="button" class="btn btn-light">Gestion Adresses</a>
    <a href="<%= devicesP_path(1) %>" type="button" class="btn btn-light">Modules</a>
</nav>

    <div class="box">
        <div class="col-6">
            <%= form_with   do |form| %>
                    <div style="margin-top: 10px"  class="inline">
                        <%= collection_select(:order, :source,       Addresse.order(:name), :name, :name, prompt: "Selectionner une source", required: true) %>
                        <%= collection_select(:order, :destination,  Addresse.order(:name), :name, :name, prompt: "Selectionner une destination", required: true) %>
                        <%= collection_select(:order, :project,      Project.order(:name), :name, :name, prompt: "Selectionner une projet", required: true) %>

                        <%=select_tag :designation, options_from_collection_for_select(Device.order(:name), :name, :name), prompt: "Module_Designation", "data" => "name", :onchange => "fileupdataInInput(this);" %>
                        <%=form.text_field :serial, placeholder:'serial' %>
                        <button id="formModuleSave" style="margin-top: 10px" type="submit" class="btn  mb-2" onclick="eventSaveModule()">save</button>
                    </div>
            <% end %> 
        </div>
    <div>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Ref:</th>
      <th scope="col">Date envoi:</th>
      <th scope="col">Module:</th>
      <th scope="col">Nomenclature:</th>
      <th scope="col">Serial:</th>
      <th scope="col">Source:</th>
      <th scope="col">Destination:</th>
      <th scope="col">Status:</th>
      <th scope="col">Action:</th>
    </tr>
  </thead>
  
  <tbody>

  <% @device.each do |single|%>
    <tr id="row_">      
      <th scope="col"><%= single.order.id %></th>
      <th scope="col"><%= single.order.dateSending %></th>
      <th scope="col"><%= Device.find(single.device_id).name %></th>
      <th scope="col"><%= Device.find(single.device_id).designation %></th>

      <th scope="col"><%= single.serial %></th>
      <th scope="col"><%= single.order.source %></th>
      <th scope="col"><%= single.order.destination %></th>
      <th scope="col"><%= StatusOrder.find(single.order.statusOrders_id).name %></th>
      <th scope="col"><a href="<%= edit_order_path(single.order.project,single.order.id)%>" >edit</a></th>
    </tr>
  
  <% end %>
  </tbody>
 
</table>

    </div>
    </div>
